<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>test</title>
  <script  type="text/javascript"  src="./webcu2plugin.js"></script>
</head>
<body>
  <div>son</div>
</body>
</html>
<script>
  let PostData = null

  // 接收通信
  window.addEventListener("message", receiveMessageFromIndex, false);
  async function receiveMessageFromIndex ( event ) {
    let { type, params } = event.data
    const data = await webcu2plugin[type](params);
    PostData = data
    parent.postMessage( PostData, '*');  // 发送消息~
    PostData = null
  }
</script>